{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-about rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 profile-image">
        {{ $img := resources.Get .Site.Data.homepage.about.image.x }}
        {{ $img2x := resources.Get .Site.Data.homepage.about.image._2x }}  
        {{ $imgDark := resources.Get .Site.Data.homepage.about.image.dark }}
        {{ $img2xDark := resources.Get .Site.Data.homepage.about.image.dark2x }}      
        
        {{ with $img }}
        {{ with $img2x}}
        {{ with $imgDark }}
        {{ with $img2xDark}}
              
        {{/* ⚠️ If the image is not found, it will not be displayed - this whole block will be skipped */}} 

        {{ $imgWebp := $img.Resize (printf "%dx%d webp" $img.Width $img.Height) }}
        {{ $img2xWebp := $img2x.Resize (printf "%dx%d webp" $img2x.Width $img2x.Height) }}
        {{ $imgDarkWebp := $imgDark.Resize (printf "%dx%d webp" $imgDark.Width $imgDark.Height) }}
        {{ $img2xDarkWebp := $img2xDark.Resize (printf "%dx%d webp" $img2xDark.Width $img2xDark.Height) }}

        <picture data-mode="light">
          <source srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x" type="image/webp" />
          <source srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x" type="image/webp">
          <img
            width="{{ $img.Width }}"
            height="{{ $img.Height }}"
            class="lozad img-responsive"
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
            data-src="{{ $img.RelPermalink }}"
            data-srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
            alt='{{ i18n "about_image_alt" }}'
          />
        </picture>
        <picture data-mode="dark">
            <source srcset="{{ $imgDarkWebp.RelPermalink }} 1x, {{ $img2xDarkWebp.RelPermalink }} 2x" type="image/webp" />
            <source srcset="{{ $imgDark.RelPermalink }} 1x, {{ $img2xDark.RelPermalink }} 2x" type="image/webp">
            <img
              width="{{ $imgDark.Width }}"
              height="{{ $imgDark.Height }}"
              class="lozad img-responsive"
              src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
              srcset="{{ $imgDark.RelPermalink }} 1x, {{ $img2xDark.RelPermalink }} 2x"
              data-src="{{ $imgDark.RelPermalink }}"
              data-srcset="{{ $imgDark.RelPermalink }} 1x, {{ $img2xDark.RelPermalink }} 2x"
              alt='{{ i18n "about_image_alt" }}'
            />
          </picture>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12 col-md-6 my-auto">
        <h2>{{ i18n "about_title" }}</h2>
        {{ i18n "about_content" | safeHTML }}
        <div class="row platform-links">
            <div class="col-12">
              {{ range .Site.Data.homepage.showcase.socialLinks }}
              <a href="{{ .URL | absURL }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .icon }}"
                ><i class="icon-{{ .icon }}"></i
              ></a>
              {{ end }}
            </div>
          </div>
      </div>
      
    </div>
  </div>
</section>
{{ end }}
